{% extends 'layouts/main.html' %}

{% block content %}


      <div id="showcase" class="showcase">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 col-md-12 text-center">
                      <h1>Замглавы Минздрава РФ</h1>
                      <h4>более 8 млн россиян записались к врачу через портал Госуслуг с начала года</h4>
                      <img src="{{ url_for('static', filename='images/emblem.png') }}" class="img-responsive" style="display: inline;">
                  </div>
              </div>
          </div>
      </div>

      <!-- end showcase  -->

      <!-- imac -->

      <div id="imac" class="imac">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 col-md-12 text-center">
                      <h1>В Ростуризме рассказали, что ждет отправляющихся в Турцию россиян</h1>
                      <h4>Ростуризм опубликовал памятку для россиян, которые планируют отправиться в Турцию, информация размещена на сайте ведомства.</h4>
                      <img src="{{ url_for('static', filename='images/ростуризм.jpg') }}" class="img-responsive" style="display: inline;">

                  </div>

            </div>
           </div>
         </div>

        <div id="macbook" class="macbook">
          <div class="container">
              <div class="row">

                  <div class="col-lg-12 col-md-12 text-center" >
<h1>Минздрав России утвердил методрекомендации по реабилитации пациентов после COVID-19</h1>
                    <h4>Временные методические рекомендации по вопросам медицинской реабилитации при COVID-19.</h4>
                      <h5>Разработанные группой экспертов рекомендации учитывают особенности медицинской реабилитации при оказании специализированной медпомощи пациентам с новой коронавирусной инфекцией, маршрутизацию пациентов с COVID-19 на этапы реабилитации, особенности организации медицинской реабилитации детей, а также мероприятия по оздоровлению и восстановлению работоспособности сотрудников медицинских организаций, оказывающих помощь пациентам с COVID-19. Отдельное внимание уделено реабилитации пациентов с сердечно-сосудистыми заболеваниями.</h5>
</div>

                  </div>
                  </div>
                  </div>

             <div id="mac" class="mac">
              <div class="container">
              <div class="row">


                  <div class="col-lg-12 col-md-12" >
                      <h1>Башкирские врачи помогут Киргизии бороться с коронавирусом</h1>
                      <h4>Легко. Безопасно.</h4>
                      <img src="{{ url_for('static', filename='images/20200316_gaf_x99_520.jpg') }}" class="img-responsive" style="display: inline;">


                  </div>

                  </div>
                  </div>
                  </div>
<!-- end imac  -->


{% endblock %}
